/* CSS DEFAULT SETTINGS */
*, html {padding: 0; margin: 0; box-sizing: border-box; }
html {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
:root {
    --gap-small: 0.6rem;
    --gap-big: 1.8rem;
    --height-lines: 1.7rem;
    --height-header: calc(var(--height-lines) + 2 * var(--gap-small));
    --height-footer: 3.3rem;
    --width-max: 400px;
    --border: 1px solid rgb(0, 0, 0);
    --kleur-achtergrond: rgb(255, 159, 159);
    --font-display: 'Courier New', Courier, monospace;;
}

/* FORMALITIES HOLY GRAIL */
body { overflow: hidden; height: 100svh; width: 100vw; background-color: var(--kleur-achtergrond); background-image: url('/media/Twinkling_Stars.gif');}
header { width: 100%; height: var(--height-header); padding: var(--gap-small); display: flex; align-items: center; justify-content: space-between; }
main { width: 100%; height: calc(100svh - var(--height-header) - var(--height-footer)); background-image: url('/media/Twinkling_Stars.gif'); padding: var(--gap-small); overflow-y: auto;}
footer { width: 100%; height: var(--height-footer); background-color: rgb(238, 130, 209); padding: 0 var(--gap-small); display: flex; align-items: center; justify-content: center; }

/* HEADER */ 
header { background-color: yellow;}
header h1 { display: inline-flex; align-items: center; font-size: x-large;}
header svg { width: 1.2rem; height: 1.2rem; margin: 0 var(--gap-small);}

/* FORMALITIES FORM */
main#login form>button{ width: 100%; max-width: var(--width-max); }
input, button { padding: 0 var(--gap-small); }

/* LOGIN AREA */
main#login { display: flex; flex-direction: column; justify-content: center; align-items: center; }
main#login section {flex-direction: column; width: 100%; max-width: var(--width-max);}
main#login section:not(:last-of-type) { margin-bottom: var(--gap-big); }
main#login form { display: flex; width: 100%; max-width: var(--width-max); flex-direction: column; margin-top: var(--gap-small);}
main#login form > *:not(button) { margin-bottom: var(--gap-small); }
main#login input[type="checkbox"] { margin-right: var(--gap-small); }

/* MAIN */
main section { margin-bottom: var(--gap-small); padding: var(--gap-small) 0;}
main section:not(#description) { display: flex; flex-wrap: wrap; align-content: flex-start; }
main section:not(#tree) {font-family: var(--font-display);}
main *:not(button, input) {color: white; }
main section#content p { line-height: var(--height-lines); display: inline-flex; flex-wrap: wrap; align-items: center;}
main section#content p a { padding-right: var(--gap-big); padding-left: var(--gap-small); }
main section#content p svg { height: 1rem; width: 1rem;}

/* FOOTER */
footer form { display: inline-flex; width: 100%; justify-content: center; }